{
  "plugins": [
    "prettier-plugin-brace-style"
  ],
  "trailingComma": "es5",
  "printWidth": 85,
  "tabWidth": 3,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "braceStyle": "stroustrup"
}